// Custom styles.
//自定义文章内链样式
.post-body
    p
        a
          color: #f0ad4e;
          border-bottom: 1px solid #f0ad4e;
          &:hover 
            color: #0593d3;
            border-bottom: 1px solid #0593d3;
          
        
//主页文章添加阴影效果    
.post 
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);